**Import Libraries**

In [36]:
import pandas as pd
import numpy as np

**Read Excel**

In [37]:
df=pd.read_excel("/content/report (4).xlsx")
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,4/4/2023 1:36:51 AM,Unnamed: 19
0,Hotel Ledger Comparison for 4/3/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Page 1 of 1
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yesterday,NaN,NaN,NaN,NaN,Today,NaN,NaN,NaN,NaN,NaN,NaN
2,Ledger,NaN,NaN,Status,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Difference,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4/2/2023,NaN,NaN,NaN,4/3/2023,NaN,NaN,NaN,NaN,NaN,NaN
4,Advanced Deposit Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,Reserved,NaN,NaN,NaN,NaN,($481.23),NaN,NaN,NaN,($267.41),NaN,NaN,NaN,$213.82,NaN,NaN,NaN
6,NaN,NaN,NaN,Total:,NaN,NaN,NaN,NaN,($481.23),NaN,NaN,NaN,($267.41),NaN,NaN,NaN,$213.82,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Guest Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,Checked Out,NaN,NaN,NaN,NaN,NaN,$0.00,NaN,NaN,NaN,$0.00,NaN,NaN,$0.00,NaN,NaN,NaN
10,NaN,NaN,NaN,In House,NaN,NaN,NaN,NaN,"($4,255.24)",NaN,NaN,NaN,"($4,666.62)",NaN,NaN,($411.38),NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,No Show,NaN,NaN,NaN,NaN,NaN,$0.00,NaN,NaN,NaN,$0.00,NaN,NaN,$0.00,NaN,NaN,NaN
12,NaN,NaN,NaN,Turn Away,NaN,NaN,NaN,NaN,NaN,$173.17,NaN,NaN,NaN,$173.17,NaN,NaN,$0.00,NaN,NaN,NaN
13,NaN,NaN,NaN,Total:,NaN,NaN,NaN,NaN,"($4,082.07)",NaN,NaN,NaN,"($4,493.45)",NaN,NaN,($411.38),NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Company Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,Active,NaN,NaN,NaN,NaN,NaN,$0.00,NaN,NaN,NaN,$0.00,NaN,NaN,$0.00,NaN,NaN,NaN
17,NaN,NaN,NaN,Closed,NaN,NaN,NaN,NaN,NaN,$0.00,NaN,NaN,NaN,$0.00,NaN,NaN,$0.00,NaN,NaN,NaN
18,NaN,NaN,NaN,Total:,NaN,NaN,NaN,NaN,NaN,$0.00,NaN,NaN,NaN,$0.00,NaN,NaN,$0.00,NaN,NaN,NaN
19,Group Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,Definite\nTotal:,NaN,NaN,NaN,NaN,NaN,$0.00$0.00,NaN,NaN,NaN,$0.00$0.00,NaN,NaN,$0.00$0.00,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,City Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,Active\nTotal:,NaN,NaN,NaN,NaN,"($2,303.80)($2,303.80)",NaN,NaN,NaN,"($2,303.80)($2,303.80)",NaN,NaN,NaN,$0.00$0.00,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,Guest Ledger Totals:,NaN,NaN,NaN,NaN,"($4,563.30)",NaN,NaN,NaN,"($4,760.86)",NaN,NaN,($197.56),NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,Ledger Totals:,NaN,NaN,NaN,NaN,"($6,867.10)",NaN,NaN,NaN,"($7,064.66)",NaN,NaN,($197.56),NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,RRI127 - Red Roof PLUS+ Columbus - Dublin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Page 1 of 1

In [38]:
df.shape

(32, 20)

**Remove Empty Rows & Columns**

In [39]:
df.dropna(axis=1, how='all', inplace=True)
df.dropna(axis=0, how='all', inplace=True)
df

,Unnamed: 0,Unnamed: 3,Unnamed: 8,Unnamed: 9,Unnamed: 12,Unnamed: 13,Unnamed: 15,Unnamed: 16,Unnamed: 19
0,Hotel Ledger Comparison for 4/3/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Page 1 of 1
1,NaN,NaN,Yesterday,NaN,NaN,Today,NaN,NaN,NaN
2,Ledger,Status,NaN,NaN,NaN,NaN,Difference,NaN,NaN
3,NaN,NaN,NaN,4/2/2023,NaN,4/3/2023,NaN,NaN,NaN
4,Advanced Deposit Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Reserved,($481.23),NaN,($267.41),NaN,NaN,$213.82,NaN
6,NaN,Total:,($481.23),NaN,($267.41),NaN,NaN,$213.82,NaN
8,Guest Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,Checked Out,NaN,$0.00,NaN,$0.00,NaN,$0.00,NaN
10,NaN,In House,"($4,255.24)",NaN,"($4,666.62)",NaN,($411.38),NaN,NaN
11,NaN,No Show,NaN,$0.00,NaN,$0.00,NaN,$0.00,NaN
12,NaN,Turn Away,NaN,$173.17,NaN,$173.17,NaN,$0.00,NaN
13,NaN,Total:,"($4,082.07)",NaN,"($4,493.45)",NaN,($411.38),NaN,NaN
15,Company Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,Active,NaN,$0.00,NaN,$0.00,NaN,$0.00,NaN
17,NaN,Closed,NaN,$0.00,NaN,$0.00,NaN,$0.00,NaN
18,NaN,Total:,NaN,$0.00,NaN,$0.00,NaN,$0.00,NaN
19,Group Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,Definite\nTotal:,NaN,$0.00$0.00,NaN,$0.00$0.00,NaN,$0.00$0.00,NaN
23,City Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,Active\nTotal:,"($2,303.80)($2,303.80)",NaN,"($2,303.80)($2,303.80)",NaN,NaN,$0.00$0.00,NaN
27,NaN,Guest Ledger Totals:,"($4,563.30)",NaN,"($4,760.86)",NaN,($197.56),NaN,NaN
29,NaN,Ledger Totals:,"($6,867.10)",NaN,"($7,064.66)",NaN,($197.56),NaN,NaN
31,RRI127 - Red Roof PLUS+ Columbus - Dublin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Page 1 of 1

In [40]:
df.shape

(24, 9)

**Convert Excel To csv File**

In [41]:
df.to_csv("file.csv")

**Assign Length**

In [42]:
df.columns=np.arange(1,len(df.columns)+1)

**Delete top 1 row**

In [43]:
df.drop(df.head(1).index,inplace=True)
df

,1,2,3,4,5,6,7,8,9
1,NaN,NaN,Yesterday,NaN,NaN,Today,NaN,NaN,NaN
2,Ledger,Status,NaN,NaN,NaN,NaN,Difference,NaN,NaN
3,NaN,NaN,NaN,4/2/2023,NaN,4/3/2023,NaN,NaN,NaN
4,Advanced Deposit Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Reserved,($481.23),NaN,($267.41),NaN,NaN,$213.82,NaN
6,NaN,Total:,($481.23),NaN,($267.41),NaN,NaN,$213.82,NaN
8,Guest Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,Checked Out,NaN,$0.00,NaN,$0.00,NaN,$0.00,NaN
10,NaN,In House,"($4,255.24)",NaN,"($4,666.62)",NaN,($411.38),NaN,NaN
11,NaN,No Show,NaN,$0.00,NaN,$0.00,NaN,$0.00,NaN
12,NaN,Turn Away,NaN,$173.17,NaN,$173.17,NaN,$0.00,NaN
13,NaN,Total:,"($4,082.07)",NaN,"($4,493.45)",NaN,($411.38),NaN,NaN
15,Company Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,Active,NaN,$0.00,NaN,$0.00,NaN,$0.00,NaN
17,NaN,Closed,NaN,$0.00,NaN,$0.00,NaN,$0.00,NaN
18,NaN,Total:,NaN,$0.00,NaN,$0.00,NaN,$0.00,NaN
19,Group Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,Definite\nTotal:,NaN,$0.00$0.00,NaN,$0.00$0.00,NaN,$0.00$0.00,NaN
23,City Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,Active\nTotal:,"($2,303.80)($2,303.80)",NaN,"($2,303.80)($2,303.80)",NaN,NaN,$0.00$0.00,NaN
27,NaN,Guest Ledger Totals:,"($4,563.30)",NaN,"($4,760.86)",NaN,($197.56),NaN,NaN
29,NaN,Ledger Totals:,"($6,867.10)",NaN,"($7,064.66)",NaN,($197.56),NaN,NaN
31,RRI127 - Red Roof PLUS+ Columbus - Dublin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Page 1 of 1

In [44]:
df.shape

(23, 9)

**Remove Dollar Signs**

In [45]:
df = df.replace('[$]', '', regex=True)
df

,1,2,3,4,5,6,7,8,9
1,NaN,NaN,Yesterday,NaN,NaN,Today,NaN,NaN,NaN
2,Ledger,Status,NaN,NaN,NaN,NaN,Difference,NaN,NaN
3,NaN,NaN,NaN,4/2/2023,NaN,4/3/2023,NaN,NaN,NaN
4,Advanced Deposit Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Reserved,(481.23),NaN,(267.41),NaN,NaN,213.82,NaN
6,NaN,Total:,(481.23),NaN,(267.41),NaN,NaN,213.82,NaN
8,Guest Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,Checked Out,NaN,0.00,NaN,0.00,NaN,0.00,NaN
10,NaN,In House,"(4,255.24)",NaN,"(4,666.62)",NaN,(411.38),NaN,NaN
11,NaN,No Show,NaN,0.00,NaN,0.00,NaN,0.00,NaN
12,NaN,Turn Away,NaN,173.17,NaN,173.17,NaN,0.00,NaN
13,NaN,Total:,"(4,082.07)",NaN,"(4,493.45)",NaN,(411.38),NaN,NaN
15,Company Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,Active,NaN,0.00,NaN,0.00,NaN,0.00,NaN
17,NaN,Closed,NaN,0.00,NaN,0.00,NaN,0.00,NaN
18,NaN,Total:,NaN,0.00,NaN,0.00,NaN,0.00,NaN
19,Group Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,Definite\nTotal:,NaN,0.000.00,NaN,0.000.00,NaN,0.000.00,NaN
23,City Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,Active\nTotal:,"(2,303.80)(2,303.80)",NaN,"(2,303.80)(2,303.80)",NaN,NaN,0.000.00,NaN
27,NaN,Guest Ledger Totals:,"(4,563.30)",NaN,"(4,760.86)",NaN,(197.56),NaN,NaN
29,NaN,Ledger Totals:,"(6,867.10)",NaN,"(7,064.66)",NaN,(197.56),NaN,NaN
31,RRI127 - Red Roof PLUS+ Columbus - Dublin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Page 1 of 1

**Remove Braces**

In [46]:
df = df.replace('[()]', '', regex=True)
df

,1,2,3,4,5,6,7,8,9
1,NaN,NaN,Yesterday,NaN,NaN,Today,NaN,NaN,NaN
2,Ledger,Status,NaN,NaN,NaN,NaN,Difference,NaN,NaN
3,NaN,NaN,NaN,4/2/2023,NaN,4/3/2023,NaN,NaN,NaN
4,Advanced Deposit Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Reserved,481.23,NaN,267.41,NaN,NaN,213.82,NaN
6,NaN,Total:,481.23,NaN,267.41,NaN,NaN,213.82,NaN
8,Guest Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,Checked Out,NaN,0.00,NaN,0.00,NaN,0.00,NaN
10,NaN,In House,"4,255.24",NaN,"4,666.62",NaN,411.38,NaN,NaN
11,NaN,No Show,NaN,0.00,NaN,0.00,NaN,0.00,NaN
12,NaN,Turn Away,NaN,173.17,NaN,173.17,NaN,0.00,NaN
13,NaN,Total:,"4,082.07",NaN,"4,493.45",NaN,411.38,NaN,NaN
15,Company Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,Active,NaN,0.00,NaN,0.00,NaN,0.00,NaN
17,NaN,Closed,NaN,0.00,NaN,0.00,NaN,0.00,NaN
18,NaN,Total:,NaN,0.00,NaN,0.00,NaN,0.00,NaN
19,Group Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,Definite\nTotal:,NaN,0.000.00,NaN,0.000.00,NaN,0.000.00,NaN
23,City Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,Active\nTotal:,"2,303.802,303.80",NaN,"2,303.802,303.80",NaN,NaN,0.000.00,NaN
27,NaN,Guest Ledger Totals:,"4,563.30",NaN,"4,760.86",NaN,197.56,NaN,NaN
29,NaN,Ledger Totals:,"6,867.10",NaN,"7,064.66",NaN,197.56,NaN,NaN
31,RRI127 - Red Roof PLUS+ Columbus - Dublin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Page 1 of 1

In [48]:
df = df.drop(df.index[-1])
df

,1,2,3,4,5,6,7,8,9
1,NaN,NaN,Yesterday,NaN,NaN,Today,NaN,NaN,NaN
2,Ledger,Status,NaN,NaN,NaN,NaN,Difference,NaN,NaN
3,NaN,NaN,NaN,4/2/2023,NaN,4/3/2023,NaN,NaN,NaN
4,Advanced Deposit Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Reserved,481.23,NaN,267.41,NaN,NaN,213.82,NaN
6,NaN,Total:,481.23,NaN,267.41,NaN,NaN,213.82,NaN
8,Guest Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,Checked Out,NaN,0.00,NaN,0.00,NaN,0.00,NaN
10,NaN,In House,"4,255.24",NaN,"4,666.62",NaN,411.38,NaN,NaN
11,NaN,No Show,NaN,0.00,NaN,0.00,NaN,0.00,NaN
12,NaN,Turn Away,NaN,173.17,NaN,173.17,NaN,0.00,NaN
13,NaN,Total:,"4,082.07",NaN,"4,493.45",NaN,411.38,NaN,NaN
15,Company Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,Active,NaN,0.00,NaN,0.00,NaN,0.00,NaN
17,NaN,Closed,NaN,0.00,NaN,0.00,NaN,0.00,NaN
18,NaN,Total:,NaN,0.00,NaN,0.00,NaN,0.00,NaN
19,Group Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,Definite\nTotal:,NaN,0.000.00,NaN,0.000.00,NaN,0.000.00,NaN
23,City Ledger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,Active\nTotal:,"2,303.802,303.80",NaN,"2,303.802,303.80",NaN,NaN,0.000.00,NaN
27,NaN,Guest Ledger Totals:,"4,563.30",NaN,"4,760.86",NaN,197.56,NaN,NaN

In [49]:
df.shape

(21, 9)